# User-specific uVision files
*.opt
*.uvopt
*.uvoptx
*.uvgui
*.uvguix.*

# Listing files
*.cod
*.htm
*.i
*.lst
*.map
*.m51
*.m66
*.scr  	# define exception below if needed

# Object and HEX files
*.axf
*.b[0-3][0-9]
*.hex
*.d
*.crf
*.elf
*.hex
*.h86
*.lib
*.obj
*.o
*.sbr

# Build files
*.bat  	# define exception below if needed
*._ia
*.__i
*._ii

# Debugger files
*.ini  	# define exception below if needed

# Other files
*.build_log.htm
*.cdb
*.dep
*.ic
*.lin
*.lnp
*.orc
*.pack 	# define exception below if needed
*.pdsc 	# define exception below if needed
*.plg
*.sct  	# define exception below if needed
*.sfd
*.sfr
*.TMP

# Miscellaneous
*.tra
*.bin
*.fed
*.l1p
*.l2p
*.iex


#proteus
*.pdsbak
*.workspace
*.rte
*.DO
*.EDF
*.log
*.sts

#cad
*.bak
*.rgn
*.bmp

#python
*.pyc

#stmCube
*.ftl
*.ftl_save

~$*
# Word temporary
~$*.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk


# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database 
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

# AtH stuff
*.swp
debug/
saves/

/hardware/Project Backups